{% extends "login/base_login.html" %}
{% block content %}
<br><br>
<div class="row d-flex justify-content-center">
    <h1 class="h3 mb-3 font-weight-normal">Create New Account</h1>

    {% if error != None %}
    <div><p class="text-danger">{{error}}</p></div>
    {% endif %}
</div>
    <br>


<div class="row d-flex justify-content-center">
    <form action="{{url_for('new_user_submit')}}" method="post">
        <div class="form-group">
<!--        <label>Username:</label>-->
        <input class="form-control" type='text' name='username' placeholder="username" value='{{username if username != None}}' required>
        </div>

        <div class="form-group">
<!--        <label>Password:</label>-->
        <input class="form-control" type='password' placeholder="password" name='password' required>
        </div>

        <div class="form-group">
<!--        <label>Confirm Password:</label>-->
        <input class="form-control" type='password' placeholder="confirm password" name='confirm' required>
        </div>
<br>
        <div class="text-center">
            <input type='submit' class="btn btn-primary" value='Create'>
        </div>
    </form>
</div>
<!--<div class="row d-flex justify-content-center">-->
<!--    <br>-->
<!--    <form action="{{ url_for('index') }}" method="get">-->
<!--        <input type="submit" class="btn btn-link btn-sm" value="Back" />-->
<!--    </form>-->
<!--</div>-->
{% endblock %}


